<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Start About Section -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="about-title-area">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="about-title">
                        <span>KNOW ABOUT US</span>
                        <h2>The best you can't see anywhere else, We give here </h2>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="about-text">
                        <p>You might not be able to explain why eba tastes better when you eat it with your hands, but you know in your heart that it’s true. We’ve gathered 10 more unofficial facts like that one, and we know every Nigerian will agree with them.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-slider owl-carousel owl-theme">
                    <div class="about-item">
                        <div class="about-slide-image">
                            <img src="assets/img/about/1.png" alt="image">
                        </div>
                        <div class="about-text">
                            <span>Healthy journey</span>
                            <h3>100% Clean & fresh agro services with low cost</h3>
                        </div>
                    </div>

                    <div class="about-item">
                        <div class="about-slide-image">
                            <img src="assets/img/about/2.png" alt="image">
                        </div>
                        <div class="about-text">
                            <span>Pure agro services</span>
                            <h3>Rich in nutrients but no formal or defect</h3>
                        </div>
                    </div>

                    <div class="about-item">
                        <div class="about-slide-image">
                            <img src="assets/img/about/3.png" alt="image">
                        </div>
                        <div class="about-text">
                            <span>Healthy journey</span>
                            <h3>Clean & fresh agro services with low cost</h3>
                        </div>
                    </div>
                </div>

                <div class="about-content-area">
                    <div class="about-content">
                        <h3>Life is not like a species do you believe?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed dorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>

                    <ul class="about-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Get Back to Healthy Life
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Wake Up Refreshed
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Set a Healthier Lifestyle
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Boost Energy & Metabolism
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape-image">
        <img src="assets/img/about/about-shape.png" alt="image">
    </div>
</section>
<!-- End About Section -->

<!-- Start Harvesting Section -->
<section class="harvesting-section pt-100">
    <div class="container">
        <div class="harvesting-title">
            <span>HARVESTING AREAS</span>
            <h3>Our areas of cultivation under farm</h3>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="harvesting-item">
                    <div class="harvesting-image">
                        <img src="assets/img/harvesting/1.png" alt="image">
                        <img src="assets/img/harvesting/white-1.png" alt="image">
                    </div>

                    <div class="harvesting-content">
                        <h3>Vegetables</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="harvesting-item">
                    <div class="harvesting-image">
                        <img src="assets/img/harvesting/2.png" alt="image">
                        <img src="assets/img/harvesting/white-2.png" alt="image">
                    </div>

                    <div class="harvesting-content">
                        <h3>Fresh Fish</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-md-3 offset-sm-3 offset-lg-0">
                <div class="harvesting-item">
                    <div class="harvesting-image">
                        <img src="assets/img/harvesting/3.png" alt="image">
                        <img src="assets/img/harvesting/white-3.png" alt="image">
                    </div>

                    <div class="harvesting-content">
                        <h3>Nursed Cow</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Harvesting Section -->



<!-- Start Summary Section -->
<section class="summary-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="summary-image">
                    <img src="assets/img/summary/1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="summary-content">
                    <span>A SUMMARY</span>
                    <h3>A brief what we use how use the impression help you</h3>
                    <p>On the first paragraph crucial text will be appeared consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

                    <div class="summary-btn">
                        <a class="optional-btn" href="#">
                            Cultivation
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="summary-shape-image">
        <img src="assets/img/summary/shape.png" alt="image">
    </div>
</section>
<!-- End Summary Section -->



<!-- Start Cultivation Section -->
<section class="cultivation-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Cultivation</span>
            <h3>Categories of cultivation</h3>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cultivation">
                    <div class="cultivation-image">
                        <img src="assets/img/cultivation/1.png" alt="image">
                        <a href="#" class="details-btn">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                    <div class="cultivation-content">
                        <span>30 Species</span>
                        <h3>Native Fish</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cultivation">
                    <div class="cultivation-image">
                        <img src="assets/img/cultivation/2.png" alt="image">
                        <a href="#" class="details-btn">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                    <div class="cultivation-content">
                        <span>10 Species</span>
                        <h3>Foreign Fish</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cultivation">
                    <div class="cultivation-image">
                        <img src="assets/img/cultivation/3.png" alt="image">
                        <a href="#" class="details-btn">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                    <div class="cultivation-content">
                        <span>10 Species</span>
                        <h3>Breed Cow</h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cultivation">
                    <div class="cultivation-image">
                        <img src="assets/img/cultivation/4.png" alt="image">
                        <a href="#" class="details-btn">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                    <div class="cultivation-content">
                        <span>08 Types</span>
                        <h3>Vegetable</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cultivation Section -->

<!-- Start Fisherman Section -->
<section class="fisherman-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="fisherman-image">
                    <img src="assets/img/fisherman.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="fisherman-content">
                    <span>THE AREA OF FISH</span>
                    <h3>Though we cultivate triple area of cultivation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <ul class="fisherman-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Healthy Fresh fish
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Pure feed for fish
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Formalin free 30 species
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Fish Are Coldblooded
                        </li>
                    </ul>

                    <div class="fisherman-btn">
                        <a href="about.html" class="optional-btn">
                            Learn About
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fisherman Section -->

<!-- Start Cowman Section -->
<section class="cowman-section pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="cowman-content">
                    <span>THE AREA OF COW</span>
                    <h3>Though we cultivate triple area of cultivation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <ul class="cowman-list">
                        <li>
                            <i class="flaticon-check"></i>
                            Formalin free 30 species
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Fish Are Coldblooded
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Healthy Fresh fish
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Pure feed for fish
                        </li>
                    </ul>

                    <div class="cowman-btn">
                        <a href="about.html" class="optional-btn">
                            Learn About
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="cowman-image">
                    <img src="assets/img/cowman.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cowman Section -->

</body>
</html>
